<?xml version="1.0"?>
<odoo>

    <!-- Contract Amendment -->
    <menuitem id="menu_contract_amendment"
              name="Contract Amendment"
              parent="hr.menu_hr_employee_payroll"
              groups="amcl_hr_payroll.group_contract_amendment_access"
              action="amcl_hr_contract_amendment.action_contract_amendment_view"
              sequence="5"
              />

</odoo>
